.categories {
}

.category {
}

    .category h2 {
        margin: 0px;
        margin-bottom: 10px;
    }

.election-results {
    display: flex;
    flex-wrap: wrap;
}

.election-result {
    flex: 280px 1 0;
}

.electorate {
    display: none;
    margin: 0px;

    font-size: 10px;
    text-align: center;
}

@media screen and (min-width: 480px) {
    .categories {
        display: flex;
        height: 100vh;
    }

    .category {
        flex: 200px 1 0;
    }

        .category.coalition,
        .category.labor {
            flex: 200px 2 0;
        }

    .election-result {
        flex: 200px 0 0;
    }
}
